@media (max-width: 1170px) {
   .menu--block {
      justify-content: center;
   }

   .menu-block-right,
   .menu-block-left {
      margin-top: 20px;
   }

   .wraper--menu {
      justify-content: center;
   }

   .wraper--menu .block--menu {
      margin-right: 20px;
   }

   .parallax--text {
      text-align: center;
      line-height: 80px;
   }
}

@media (max-width: 1020px) {
   .container--menu {
      margin: -50px;
   }

   .top--subtiitle {
      line-height: 100px;
   }

   .top--subtiitle::after {
      display: none;
   }
}

@media (max-width: 650px) {

   .menu--btn {
      display: block;
   }

   .menu--btn span {
      margin-left: 0;
   }

   .header__logo {
      display: none;
   }

   .header--menu-item {
      padding-left: 25px;
   }

   .header--menu-list {
      display: none;
      position: absolute;
      top: 100px;
      left: 0;
      text-align: left;
      width: 100%;
      z-index: 15;
      background-color: rgba(1, 1, 1, );
      padding-left: 20px;
   }

   .header--menu {
      margin-right: auto;
      margin-left: 20px;
   }

   .menu--quote {
      padding: 20px;
   }
}

@media (max-width: 410px) {
   .menu--dish-cost:before {
      content: "-----";
      font-weight: 100;
      margin-right: 20px;
   }

   .menu--dashed {
      display: none;
   }

   .header--menu-item a {
      margin-bottom: 15px;
   }

   .footer--info-contact {
      flex-direction: column;
      line-height: 20px;
      text-align: center;
   }

   .footer--copy {
      margin-top: 20px;
   }
}
